* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    margin: 30px auto;

    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-gap: 30px;
}

.container > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans serif;
}

.header {
    grid-column: 1 / -1;
}

.sidebar {
    grid-column: 4 / -1;
    grid-row: 2 / span 2;
}

.main-content {
    grid-column: 1 / span 3;
}

.footer {
    grid-column: 1 / -1;
}
